Repository boostcamp-2020/Project02-B-RealTime-Translation-Messenger, pull requests merged in 2020-11, with the labels that each got.

#18 [Feat/#12] User를 조회하는 API 추가
  server/package.json
  server/prisma/.env_template
  server/prisma/schema.prisma
  server/src/.env_template
  server/src/api/User/allUsers/allUsers.graphql
  server/src/api/User/allUsers/allUsers.ts
  server/src/api/models.graphql
  server/src/schema.ts
  server/src/server.ts
  server/yarn.lock
Labels: SERVER 🖥

#19 [Feat/#11] Add user create API
  server/src/api/User/createUser/createUser.graphql
  server/src/api/User/createUser/createUser.ts
Labels: SERVER 🖥

#22 [Env/#21] .env_template 위치 변경
  server/.env_template
Labels: ENVIRONMENT 💫, SERVER 🖥

#26 [Feature/#24] 채팅방 랜덤 코드를 생성하는 함수 만들기
  server/src/utils/util.ts
Labels: SERVER 🖥

#27 [Feature/#23] Create Room table to prisma schema, GraphQL model
  server/prisma/schema.prisma
  server/src/api/models.graphql
Labels: SERVER 🖥

#31 [Feature/#25] Create User 수정
  server/package.json
  server/src/api/User/createUser/createUser.graphql
  server/src/api/User/createUser/createUser.ts
  server/src/server.ts
  server/src/utils/errorMessage.ts
  server/src/utils/util.ts
  server/tsconfig.json
  server/yarn.lock
Labels: SERVER 🖥

#33 [Bug/#32] All user API relation table 참조 실패
  server/src/api/User/allUsers/allUsers.ts
Labels: BUG 🐞, SERVER 🖥

#35 [Feature/#30] 전체 채팅방을 조회하는 API
  server/src/api/Room/allRooms/allRooms.graphql
  server/src/api/Room/allRooms/allRooms.ts
Labels: SERVER 🖥

#44 [Feature/#34] Create Message 생성 API
  server/prisma/schema.prisma
  server/src/api/Message/createMessage.graphql
  server/src/api/Message/createMessage.ts
  server/src/api/models.graphql
Labels: SERVER 🖥

#45 [Feature/#29] 채팅방 id로 채팅방을 조회하는 API
  server/src/api/Room/seeRoom/seeRoomById.graphql
  server/src/api/Room/seeRoom/seeRoomById.ts
Labels: SERVER 🖥

#47 [Feature/#28] Delete User API 추가
  server/src/api/User/deleteUser/deleteUser.graphql
  server/src/api/User/deleteUser/deleteUser.ts
Labels: SERVER 🖥

#52 [Feature/#49] Create User API 삭제
  server/src/api/User/createUser/createUser.graphql
  server/src/api/User/createUser/createUser.ts
Labels: SERVER 🖥

#53 [Feature/#50] 채팅방 만들기 API 구현
  server/src/api/Room/createRoom/createRoom.graphql
  server/src/api/Room/createRoom/createRoom.ts
Labels: SERVER 🖥

#54 [Feature/#51] 채팅방 입장 API 구현
  server/src/api/Room/enterRoom/enterRoom.graphql
  server/src/api/Room/enterRoom/enterRoom.ts
Labels: SERVER 🖥

#58 [feature/#10] iOS 홈화면 View 제작
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/ViewController.swift
Labels: iOS 🍎

#61 [Feature/#60] Send message subscription API
  server/src/api/Message/createMessage/createMessage.graphql
  server/src/api/Message/createMessage/createMessage.ts
  server/src/api/Message/newMessage/newMessage.graphql
  server/src/api/Message/newMessage/newMessage.ts
  server/src/api/User/allUsers/allUsers.ts
  server/src/server.ts
Labels: OFFLINE 👨‍👨‍👧‍👧, SERVER 🖥

#62 [Feature/#37] iOS 홈화면 닉네임 입력 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Extension/UIView+.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/Podfile.lock
Labels: iOS 🍎

#65 [Feature/#63] 채팅방의 id로 해당 채팅방의 모든 채팅을 조회하는 API 추가
  server/src/api/Message/allChatById/allChatById.graphql
  server/src/api/Message/allChatById/allChatById.ts
Labels: OFFLINE 👨‍👨‍👧‍👧, SERVER 🖥

#66 [Feature/#64] 채팅방 생성 시 해당 채팅방의 id를 반환하도록 함
  server/src/api/Room/createRoom/createRoom.graphql
  server/src/api/Room/createRoom/createRoom.ts
Labels: SERVER 🖥

#67 [Feature/#36] iOS 홈화면 프로필 이미지 선택 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Extension/UIView+.swift
  iOS/PapagoTalk/PapagoTalk/Home/DefaultImageFactory.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Home/ImageFactory.swift
  iOS/PapagoTalk/PapagoTalk/ViewController.swift
  iOS/PapagoTalk/Podfile
  iOS/PapagoTalk/Podfile.lock
Labels: iOS 🍎

#68 [Feature/#38] iOS 홈화면 사용 언어 선택 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Common/Enum/Language.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Locale+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/UIView+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/UIViewController+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/DefaultImageFactory.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/ImageFactory.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Home/LanguageSelectionView.swift
Labels: iOS 🍎

#69 [Feature/#48] iOS 채팅화면 View 제작-2 메시지 입력창, 네비게이션바 1차 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Constant.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Locale+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/UIViewController+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/ImageFactory.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Home/LanguageSelectionView.swift
  iOS/PapagoTalk/Podfile.lock
Labels: iOS 🍎

#71 [Feature/#70] Create Message API 수정
  server/src/api/Message/createMessage/createMessage.ts
Labels: SERVER 🖥

#72 [Feature/#48] iOS 채팅화면 View 제작-2 메시지 입력창, 네비게이션바 1차 구현 추가
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Constant.swift
Labels: iOS 🍎

#77 [Feature/#74] iOS App Icon 및 Color Assets 추가
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/100.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/1024.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/114.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/120.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/128.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/144.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/152.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/16.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/167.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/172.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/180.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/196.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/20.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/216.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/256.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/29.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/32.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/40.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/48.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/50.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/512.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/55.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/57.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/58.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/60.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/64.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/72.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/76.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/80.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/87.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/88.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoBlue.colorset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoGreen.colorset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoSkyBlue.colorset/Contents.json
Labels: iOS 🍎

#78 [Feature/#76] 해당 방의 채팅 메시지만 구독할 수 있도록 수정
  server/package.json
  server/src/api/Message/newMessage/newMessage.graphql
  server/src/api/Message/newMessage/newMessage.ts
  server/yarn.lock
Labels: SERVER 🖥

#80 [Feature/#79]
  server/prisma/schema.prisma
  server/src/api/Message/createMessage/createMessage.graphql
  server/src/api/Message/createMessage/createMessage.ts
  server/src/api/Room/createRoom/createRoom.graphql
  server/src/api/Room/createRoom/createRoom.ts
  server/src/api/Room/enterRoom/enterRoom.graphql
  server/src/api/Room/enterRoom/enterRoom.ts
Labels: REFACTOR ⛏, SERVER 🖥

#82 [Bug/#81] 관계 테이블 데이터가 삭제되지 않는 버그
  server/src/api/User/deleteUser/deleteUser.graphql
  server/src/api/User/deleteUser/deleteUser.ts
Labels: BUG 🐞, SERVER 🖥

#84 [Env/#83] Client 환경 설정
  client/.env_template
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc
  client/babel.config.js
  client/package.json
  client/public/index.html
  client/src/App.tsx
  client/src/index.tsx
  client/tsconfig.json
  client/webpack.config.js
  client/yarn.lock
Labels: CLIENT 🖥, ENVIRONMENT 💫, OFFLINE 👨‍👨‍👧‍👧

#88 [Feature/#46] iOS 채팅화면 View 제작 및 채팅 기능 & Socket 통신 기능 구현
  iOS/PapagoTalk/.swiftlint.yml
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/ReceivedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/SentMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/RxSwift+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/UICollectionReusableView+.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/API.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/GetMessage.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/SendMessage.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/schema.json
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Info.plist
  iOS/PapagoTalk/PapagoTalk/Network/APIEndPoint.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkService.swift
  iOS/PapagoTalk/Podfile.lock
Labels: iOS 🍎

#92 [Web release] Sprint2 Web Release
  client/.env_template
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc
  client/babel.config.js
  client/package.json
  client/public/index.html
  client/src/App.tsx
  client/src/index.tsx
  client/tsconfig.json
  client/webpack.config.js
  client/yarn.lock
  server/.babelrc
  server/.env_template
  server/.eslintrc.js
  server/.gitignore
  server/.prettierrc
  server/nodemon.json
  server/package.json
  server/prisma/schema.prisma
  server/src/api/Message/allChatById/allChatById.graphql
  server/src/api/Message/allChatById/allChatById.ts
  server/src/api/Message/createMessage/createMessage.graphql
  server/src/api/Message/createMessage/createMessage.ts
  server/src/api/Message/newMessage/newMessage.graphql
  server/src/api/Message/newMessage/newMessage.ts
  server/src/api/Room/allRooms/allRooms.graphql
  server/src/api/Room/allRooms/allRooms.ts
  server/src/api/Room/createRoom/createRoom.graphql
  server/src/api/Room/createRoom/createRoom.ts
  server/src/api/Room/enterRoom/enterRoom.graphql
  server/src/api/Room/enterRoom/enterRoom.ts
  server/src/api/Room/seeRoom/seeRoomById.graphql
  server/src/api/Room/seeRoom/seeRoomById.ts
  server/src/api/User/allUsers/allUsers.graphql
  server/src/api/User/allUsers/allUsers.ts
  server/src/api/User/deleteUser/deleteUser.graphql
  server/src/api/User/deleteUser/deleteUser.ts
  server/src/api/models.graphql
  server/src/env.ts
  server/src/schema.ts
  server/src/server.ts
  server/src/utils/errorMessage.ts
  server/src/utils/util.ts
  server/tsconfig.json
  server/yarn.lock
Labels: CLIENT 🖥, RELEASE 🎁, SERVER 🖥

#93 [Web] Sprint2 Web 배포
  client/.env_template
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc
  client/babel.config.js
  client/package.json
  client/public/index.html
  client/src/App.tsx
  client/src/index.tsx
  client/tsconfig.json
  client/webpack.config.js
  client/yarn.lock
  server/.babelrc
  server/.env_template
  server/.eslintrc.js
  server/.gitignore
  server/.prettierrc
  server/nodemon.json
  server/package.json
  server/prisma/schema.prisma
  server/src/api/Message/allChatById/allChatById.graphql
  server/src/api/Message/allChatById/allChatById.ts
  server/src/api/Message/createMessage/createMessage.graphql
  server/src/api/Message/createMessage/createMessage.ts
  server/src/api/Message/newMessage/newMessage.graphql
  server/src/api/Message/newMessage/newMessage.ts
  server/src/api/Room/allRooms/allRooms.graphql
  server/src/api/Room/allRooms/allRooms.ts
  server/src/api/Room/createRoom/createRoom.graphql
  server/src/api/Room/createRoom/createRoom.ts
  server/src/api/Room/enterRoom/enterRoom.graphql
  server/src/api/Room/enterRoom/enterRoom.ts
  server/src/api/Room/seeRoom/seeRoomById.graphql
  server/src/api/Room/seeRoom/seeRoomById.ts
  server/src/api/User/allUsers/allUsers.graphql
  server/src/api/User/allUsers/allUsers.ts
  server/src/api/User/deleteUser/deleteUser.graphql
  server/src/api/User/deleteUser/deleteUser.ts
  server/src/api/models.graphql
  server/src/env.ts
  server/src/schema.ts
  server/src/server.ts
  server/src/utils/errorMessage.ts
  server/src/utils/util.ts
  server/tsconfig.json
  server/yarn.lock
Labels: CLIENT 🖥, SERVER 🖥

#94 [Feature/#41] iOS 채팅방 입장 코드 입력 화면 UI 및 기본 로직 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/JoinChatError.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/AlertFactory.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/AlertFactoryType.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/API.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/EnterRoom.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/SendMessage.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/schema.json
  iOS/PapagoTalk/PapagoTalk/JoinChat/JoinChatReactor.swift
  iOS/PapagoTalk/PapagoTalk/JoinChat/JoinChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Network/JoinChatResponse.swift
Labels: iOS 🍎

#97 [Feature/#75] iOS Localization 적용
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Strings.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/JoinChatError.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/Language.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/String+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/AlertFactory.swift
  iOS/PapagoTalk/PapagoTalk/en.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/LaunchScreen.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Main.strings
Labels: iOS 🍎

#107 [Feature/#104] Papago 번역 API 사용해서 번역 message 리턴하기
  server/.env.template
  server/.env_template
  server/package.json
  server/src/api/Message/newMessage/newMessage.graphql
  server/src/api/Message/newMessage/newMessage.ts
  server/src/utils/request.ts
  server/yarn.lock
Labels: SERVER 🖥

#108 [Feature/#106] iOS 주말간 작업 내용 리팩토링
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/Podfile
  iOS/PapagoTalk/Podfile.lock
Labels: REFACTOR ⛏, iOS 🍎

#109 [Feature/#57] iOS 채팅방 Drawer화면 View 제작
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/SentMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewController.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/View/ChatDrawerUserCell.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
Labels: iOS 🍎

#110 [Feature/#103] Server code refactoring by reviewers comments
  server/src/api/Message/allChatById/allChatById.graphql
  server/src/api/Message/allMessagesById/allMessagesById.graphql
  server/src/api/Message/allMessagesById/allMessagesById.ts
  server/src/api/Room/roomById/roomById.graphql
  server/src/api/Room/roomById/roomById.ts
  server/src/api/Room/seeRoom/seeRoomById.graphql
Labels: REFACTOR ⛏, SERVER 🖥

#111 [Feature/#105] Room, Message 생성, 업데이트 시간 추가
  server/src/api/models.graphql
Labels: SERVER 🖥

#113 [Feature/#39] iOS 홈화면 네트워크 관련 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Strings.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/HomeError.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/API.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/CreateRoom.graphql
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Network/CreateRoomResponse.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkService.swift
  iOS/PapagoTalk/PapagoTalk/en.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Localizable.strings
Labels: iOS 🍎

#115 [Feature/#114] iOS 키보드 처리 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Util/KeyboardProviding.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
Labels: iOS 🍎
