Repository boostcamp-2020/Project02-B-RealTime-Translation-Messenger, pull requests merged in 2020-12, with the labels that each got.

#117 [Feature/#46] iOS 채팅화면 View 제작-1 및 관련 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/ReceivedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/SentMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/MessageType.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Calendar+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/DateFormatter+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/String+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/AlertFactory.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/AlertFactoryProviding.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/DefaultImageFactory.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/ImageFactory.swift
  iOS/PapagoTalk/PapagoTalk/Common/Factory/ImageFactoryProviding.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/Podfile.lock
Labels: iOS 🍎

#118 [Feature/#116] Coordinator 패턴 적용
  iOS/PapagoTalk/.swiftlint.yml
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewController.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/Coordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkService.swift
  iOS/PapagoTalk/PapagoTalk/SceneDelegate.swift
  iOS/PapagoTalk/Podfile.lock
Labels: iOS 🍎

#120 [Fix/#119] 서버API 변경에 의한 변경 및 유저 데이터 관리 객체 분리
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputReactor.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/UIViewController+.swift
  iOS/PapagoTalk/PapagoTalk/Common/PropertyWrapper/UserDataProvider.swift
  iOS/PapagoTalk/PapagoTalk/Common/PropertyWrapper/UserDataProviding.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/API.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/FindRoomByID.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/GetMessage.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/schema.json
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Home/LanguageSelectionView.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkService.swift
  iOS/PapagoTalk/PapagoTalk/SceneDelegate.swift
Labels: iOS 🍎

#126 [Env/#85] Client Global style & theme provider 설정
  client/.env.template
  client/.eslintrc.js
  client/package.json
  client/src/App.tsx
  client/src/components/Icons.tsx
  client/src/routes/Home.tsx
  client/src/routes/Room.tsx
  client/src/routes/index.tsx
  client/src/styles/GlobalStyles.ts
  client/src/styles/Styled.d.ts
  client/src/styles/Theme.ts
  client/tsconfig.json
  client/yarn.lock
Labels: CLIENT 🖥, ENVIRONMENT 💫, STYLE ✨

#129 [Featuer/#125] 서버 API 변경에 의한 메시지 추가 로직 변경
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Entity/TranslateResult.swift
Labels: iOS 🍎

#131 [Feature/#101] iOS 채팅방 Drawer화면 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewController.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/View/ChatDrawerUserCell.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/ChatDrawerState.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/DateFormatter+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/String+.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
Labels: iOS 🍎

#134 [Fix/#132] 채팅화면 안정화
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/InputBarTextView.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageText.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/ReceivedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/SentMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
Labels: iOS 🍎

#138 [Feature/#135] 대화방 생성 및 참여 시 RoomCode전달 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewController.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Entity/ChatRoomInfo.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
Labels: iOS 🍎

#141 [Refactor/#140] 3주차 중간 리팩토링
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageText.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Data+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Encodable+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Locale+.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Home/LanguageSelectionView.swift
Labels: REFACTOR ⛏, iOS 🍎

#130 [Feature/#121] Button Component 만들기
  client/src/components/BoldText.tsx
  client/src/components/Button.tsx
  client/src/styles/Theme.ts
  client/webpack.config.js
Labels: CLIENT 🖥

#133 [Feature/#128] Home 화면 방 코드 입력 Modal 추가하기.
  client/src/components/Modal/Code.tsx
  client/src/components/Modal/Input.tsx
  client/src/components/Modal/Overlay.tsx
  client/src/components/Modal/index.tsx
  client/src/styles/Styled.d.ts
  client/src/styles/Theme.ts
Labels: CLIENT 🖥

#139 [Feature/#127] Home 화면의 유저 프로필, 닉네임 구현
  client/.eslintrc.js
  client/src/App.tsx
  client/src/components/Icons.tsx
  client/src/components/UserProfile/index.tsx
  client/src/components/UserProfile/style.ts
  client/src/constants/avatar.ts
  client/src/routes/Home.tsx
  client/src/styles/GlobalStyles.ts
  client/src/styles/Styled.d.ts
  client/src/styles/Theme.ts
  client/src/utils/utils.ts
  client/tsconfig.json
  client/webpack.config.js
Labels: CLIENT 🖥, ENVIRONMENT 💫, STYLE ✨

#136 [Feature/#122] Home 화면의 언어 선택 버튼 구현
  client/src/components/Language.tsx
  client/src/styles/GlobalStyles.ts
  client/src/styles/Styled.d.ts
  client/src/styles/Theme.ts
Labels: CLIENT 🖥

#146 [Refactor/#145] Home 화면 Component 합치기
  client/src/components/Button.tsx
  client/src/components/Footer.tsx
  client/src/components/Language.tsx
  client/src/components/UserProfile/style.ts
  client/src/routes/Home.tsx
  client/src/styles/Theme.ts
Labels: CLIENT 🖥, STYLE ✨

#151 [Feature/#143] Modal input auto next focusing 구현
  client/src/components/Modal/Code.tsx
  client/src/components/Modal/Input.tsx
  client/src/components/Modal/Overlay.tsx
  client/src/components/Modal/index.tsx
  client/src/routes/Home.tsx
Labels: CLIENT 🖥

#155 [Featrue/#148] iOS 채팅방 음성입력뷰 UI 구현
  iOS/PapagoTalk/.swiftlint.yml
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController + SpeechView.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController2.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Constant.swift
  iOS/PapagoTalk/Podfile.lock
Labels: iOS 🍎

#156 [Feature/#102] iOS 채팅방 음성 입력 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechManager.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Info.plist
Labels: iOS 🍎

#161 [Feature/#159] iOS 작업내용 병합 이후 버그 수정
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController + SpeechView.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController2.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/Language.swift
Labels: BUG 🐞, iOS 🍎

#153 [Feature/#149] 사용자 정보를 Context로 관리
  client/.eslintrc.js
  client/src/App.tsx
  client/src/components/Language.tsx
  client/src/components/UserProfile/index.tsx
  client/src/components/UserProfile/style.ts
  client/src/contexts/UserContext.tsx
  client/src/routes/Home.tsx
  client/tsconfig.json
  client/webpack.config.js
Labels: CLIENT 🖥, REFACTOR ⛏

#162 [Feature/#150] 방 참여하기 버튼 이벤트 구현
  client/src/components/Modal/index.tsx
  client/src/routes/Room.tsx
Labels: CLIENT 🖥

#160 [Feature/#152] 방 만들기 이벤트 구현
  client/.env.template
  client/babel.config.js
  client/codegen.yml
  client/graphql.schema.json
  client/package.json
  client/src/apollo/Client.ts
  client/src/components/Modal/index.tsx
  client/src/generated/types.ts
  client/src/index.tsx
  client/src/queries/room.queires.ts
  client/src/routes/Home.tsx
  client/src/routes/Room.tsx
  client/yarn.lock
Labels: CLIENT 🖥, ENVIRONMENT 💫

#163 [Feature/#147] Language Localization
  client/src/constants/localization.ts
  client/src/contexts/localizationContext.tsx
Labels: CLIENT 🖥

#166 [Feature/#158] 채팅방 Header UI 구현
  client/package.json
  client/src/components/Icons.tsx
  client/src/components/Room/Header/index.tsx
  client/src/components/Room/Header/style.ts
  client/src/components/Room/index.tsx
  client/src/routes/Room.tsx
  client/yarn.lock
Labels: CLIENT 🖥, STYLE ✨

#168 [Refactor/#165] Home 화면 merge 작업과 refactoring
  client/.eslintrc.js
  client/src/App.tsx
  client/src/components/Button.tsx
  client/src/components/Modal/Code.tsx
  client/src/components/Modal/Input.tsx
  client/src/components/Modal/index.tsx
  client/src/components/UserProfile/index.tsx
  client/src/routes/Home.tsx
  client/src/utils/utils.ts
  client/tsconfig.json
  client/webpack.config.js
Labels: CLIENT 🖥, REFACTOR ⛏

#169 [Feature/#99] iOS 채팅화면 번역 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Encodable+.swift
  iOS/PapagoTalk/PapagoTalk/Entity/TranslationRequest.swift
  iOS/PapagoTalk/PapagoTalk/Entity/TranslationResponse.swift
  iOS/PapagoTalk/PapagoTalk/Network/APIEndPoint.swift
  iOS/PapagoTalk/PapagoTalk/Network/ApolloNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/Network/HTTPMethod.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkError.swift
  iOS/PapagoTalk/PapagoTalk/Network/PapagoAPIManager.swift
  iOS/PapagoTalk/PapagoTalk/Network/URLSessionNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/SceneDelegate.swift
Labels: iOS 🍎

#170 [Feature/#167] 번역메시지 별도 메시지셀로 구분
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/ReceivedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/TranslatedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/MessageType.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
Labels: iOS 🍎

#185 [Feature/#183] 채팅방 화면 버튼 제스쳐 구현
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
Labels: iOS 🍎

#188 [Feature/#184] NCP papago API 사용 가능하게 추가 완료
  iOS/PapagoTalk/PapagoTalk/Network/APIEndPoint.swift
  iOS/PapagoTalk/PapagoTalk/Network/PapagoAPIManager.swift
Labels: iOS 🍎

#189 [Feature/#171] iOS 음성인식 화면 내부구조 개선
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechManager.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Network/PapagoAPIManager.swift
Labels: iOS 🍎

#179 [Feature/#172] Bubble component 추가하기
  client/src/components/Bubble.tsx
Labels: CLIENT 🖥

#198 [Feature/#173] Apollo ws 이용 실시간 다자간 채팅 구현하기.
  client/src/routes/Room.tsx
Labels: CLIENT 🖥

#197 [Feature/#175] Chatting list row component
  client/src/components/ChatLog/ChatRow.tsx
Labels: CLIENT 🖥

#192 [Feature/#174] 채팅 메시지 컴포넌트 추가하기.
  client/src/components/ChatLog/Balloon.tsx
Labels: CLIENT 🖥

#193 [Feature/#176] Add chatting component
  client/src/components/ChatLog/index.tsx
  client/src/queries/room.queires.ts
Labels: CLIENT 🖥

#194 [Feature/#186] Avatar componet 추가
  client/src/components/Avatar.tsx
Labels: CLIENT 🖥

#180 [Feature/#177] Localization context에 useReducer 적용
  client/src/App.tsx
  client/src/components/Modal/index.tsx
  client/src/components/UserProfile/index.tsx
  client/src/contexts/localizationContext.tsx
  client/src/routes/Home.tsx
Labels: CLIENT 🖥, REFACTOR ⛏

#200 [Feature/#190] iOS 음성인식화면 메시지 전송 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController + SpeechView.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Common/Util/RevisionedData.swift
Labels: iOS 🍎

#199 [Feature/#178] 채팅방 좌측 측면에 사용자 목록을 보여주는 사이드바 구현
  client/src/components/Room/Header/index.tsx
  client/src/components/Room/SideBar/index.tsx
  client/src/components/Room/SideBar/style.ts
  client/src/components/Room/index.tsx
  client/src/queries/room.queires.ts
Labels: CLIENT 🖥

#202 [Feature/#182] 채팅방 입력창 구현
  client/package.json
  client/src/App.tsx
  client/src/components/Icons.tsx
  client/src/components/Room/Input/index.tsx
  client/src/components/Room/Input/style.ts
  client/src/queries/messege.queries.ts
  client/yarn.lock
Labels: CLIENT 🖥, STYLE ✨

#206 [Refactor/#195] Room merge component & simple refactoring
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/index.tsx
  client/src/components/Room/Header/style.ts
  client/src/routes/Room.tsx
Labels: CLIENT 🖥, REFACTOR ⛏

#210 [Feature/#187] Timestamp 시간을 계산하는 util 함수 추가
  client/src/utils/formatTimezone.ts
Labels: CLIENT 🖥

#212 [Fix/#201] : 앱이 백그라운드 진입시 소켓통신 중단 문제 해결
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Network/ApolloNetworkService.swift
Labels: iOS 🍎

#214 [Feature/#201] : 채팅방화면 메시지버블 테일 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/View/ReceivedMessageBubbleTail.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/SentMessageBubbleTail.swift
Labels: iOS 🍎

#223 [Feature/#215] iOS 세부 뷰 Coordinator 패턴 적용
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController+SpeechViewDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewController.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewController.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Common/Util/RevisionedData.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/Coordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/HomeCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/HomeCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/SceneDelegate.swift
Labels: iOS 🍎

#225 [Fix/#224] : iOS 잘못된 MergeConflict 수정 내용 변경
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/HomeCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
Labels: BUG 🐞, iOS 🍎

#228 [Feature/#226] : iOS 음성인식화면 버튼 애니메이션 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/SpeechViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/SpeechButton.swift
Labels: iOS 🍎

#240 [Feature/#239] : iOS MergeConflict 해결 이후 발생한 이슈해결
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
Labels: iOS 🍎

#216 [Feature/#211] 해당 룸의 사용자 정보를 구독/발행하는 API 추가
  server/src/api/Room/createRoom/createRoom.ts
  server/src/api/Room/enterRoom/enterRoom.ts
  server/src/api/User/newUser/newUser.graphql
  server/src/api/User/newUser/newUser.ts
Labels: SERVER 🖥

#217 [Feature/#181] 채팅방(Room) Header 중앙의 복사 버튼 클릭 시 해당 방의 코드가 복사
  client/package.json
  client/src/components/Room/Header/index.tsx
  client/yarn.lock
Labels: CLIENT 🖥

#221 [Refactor/#219] React otp input을 이용한 방 코드 입력부분 수정
  client/package.json
  client/src/components/Modal/Code.tsx
  client/src/components/Modal/Input.tsx
  client/src/components/Modal/index.tsx
  client/yarn.lock
Labels: CLIENT 🖥, REFACTOR ⛏

#222 [Refactor/#218] 해당 room id로 채팅 조회 시 일부만 조회할 수 있게 pagination 적용
  server/src/api/Message/allMessagesById/allMessagesById.graphql
  server/src/api/Message/allMessagesById/allMessagesById.ts
Labels: REFACTOR ⛏, SERVER 🖥

#234 [Feature/#230] Server passport jwt을 사용해 토큰 인증방식 추가
  server/package.json
  server/src/middlewares/passport.ts
  server/src/server.ts
  server/yarn.lock
Labels: SERVER 🖥

#236 [Feature/#231] jwt token을 만드는 함수 추가하기
  server/src/utils/generateToken.ts
Labels: SERVER 🖥

#237 [Refactor/#233] Token 인증 milddleware 추가하기 & 토큰 발급하기
  server/.env.template
  server/src/api/Message/createMessage/createMessage.graphql
  server/src/api/Message/createMessage/createMessage.ts
  server/src/api/Room/allRooms/allRooms.ts
  server/src/api/Room/createRoom/createRoom.graphql
  server/src/api/Room/createRoom/createRoom.ts
  server/src/api/Room/enterRoom/enterRoom.graphql
  server/src/api/Room/enterRoom/enterRoom.ts
  server/src/api/Room/roomById/roomById.ts
  server/src/api/User/allUsers/allUsers.ts
  server/src/api/User/deleteUser/deleteUser.graphql
  server/src/api/User/deleteUser/deleteUser.ts
  server/src/middlewares/isAuthenticated.ts
Labels: REFACTOR ⛏, SERVER 🖥

#238 [Feature/#229] 실시간 채팅 번역 구현
  client/graphql.schema.json
  client/src/components/ChatLog/Balloon.tsx
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/index.tsx
  client/src/components/Room/Header/style.ts
  client/src/components/Room/Input/index.tsx
  client/src/components/Room/Input/style.ts
  client/src/components/Room/SideBar/style.ts
  client/src/generated/types.ts
  client/src/queries/messege.queries.ts
  client/src/routes/Home.tsx
  client/src/routes/Room.tsx
  server/src/api/Translation/translation.graphql
  server/src/api/Translation/translation.ts
Labels: CLIENT 🖥, SERVER 🖥

#250 [Feature/#243] iOS 채팅방 음성인식 버튼 추가구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController+SpeechViewDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
  iOS/PapagoTalk/PapagoTalk/Speech/View/SpeechButton.swift
Labels: iOS 🍎

#251 [Feature/#245] iOS Keychain 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Common/Enum/Errors/KeychainError.swift
  iOS/PapagoTalk/PapagoTalk/Common/PropertyWrapper/Keychain.swift
  iOS/PapagoTalk/PapagoTalk/DataLayer/KeychainAccess.swift
Labels: iOS 🍎

#242 [Refactor/#241]
  client/graphql.schema.json
  client/src/apollo/Client.ts
  client/src/components/Modal/index.tsx
  client/src/components/Room/Input/index.tsx
  client/src/components/Room/SideBar/index.tsx
  client/src/components/Room/index.tsx
  client/src/generated/types.ts
  client/src/queries/messege.queries.ts
  client/src/queries/room.queires.ts
  client/src/routes/Home.tsx
  client/src/routes/Room.tsx
  server/src/api/Message/allMessagesById/allMessagesById.ts
  server/src/api/Translation/translation.graphql
  server/src/api/Translation/translation.ts
Labels: BUG 🐞, CLIENT 🖥, REFACTOR ⛏, SERVER 🖥

#253 [Feature/#246] iOS Message subscibe 중복 호출 문제 해결
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Network/ApolloNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkServiceProviding.swift
Labels: iOS 🍎

#254 [Feature/#247] iOS 채팅화면 오토스크롤 이슈 해결
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
Labels: iOS 🍎

#255 [Feature/#243] 채팅화면 음성인식버튼 재수정
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController+SpeechViewDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
Labels: iOS 🍎

#257 [Feature/#249] iOS LaunchScreen 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/원본님-3.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/원본님-4.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/원본님.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageRed.imageset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageRed.imageset/red-1.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageRed.imageset/red-2.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageRed.imageset/red.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/연노랑-3.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/연노랑-4.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/연노랑.png
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/LaunchScreen/LaunchScreenViewController.swift
  iOS/PapagoTalk/PapagoTalk/SceneDelegate.swift
Labels: iOS 🍎

#259 [Fix/#258] 채팅이 정상적으로 나타나지 않는 오류
  client/src/hooks/useMessages.ts
  client/src/routes/Room.tsx
Labels: BUG 🐞, CLIENT 🖥, REFACTOR ⛏

#265 [Feature/#248] : iOS UI개선
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/NavigationBarColor.colorset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController+SpeechViewDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
  iOS/PapagoTalk/PapagoTalk/Common/View/RoundShadowButton.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Home/LanguageSelectionViewController.swift
Labels: iOS 🍎

#263 [Feature/#260] 토큰으로 해당 user의 정보를 가져오는 API 추가
  server/src/api/User/me/me.graphql
  server/src/api/User/me/me.ts
Labels: SERVER 🖥

#264 [Feature/#261] 요청한 Timestamp 이후의 message들을 반환하는 API 추가하기
  server/src/api/Message/allMessagesByTime/allMessagesByTime.graphql
  server/src/api/Message/allMessagesByTime/allMessagesByTime.ts
Labels: SERVER 🖥

#269 [Feature/#267] 해당 룸의 사용자 삭제 여부를 구독하는 API 생성
  server/src/api/User/deleteUser/deleteUser.graphql
  server/src/api/User/deleteUser/deleteUser.ts
Labels: SERVER 🖥

#270 [Feature/#268] 채팅방에서 사용자의 입/퇴장 여부를 구독
  client/.eslintrc.js
  client/src/components/Room/Header/index.tsx
  client/src/components/Room/SideBar/index.tsx
  client/src/hooks/useMessages.ts
  client/src/hooks/useUsers.ts
  client/src/queries/user.queries.ts
  client/src/routes/Room.tsx
  client/tsconfig.json
  client/webpack.config.js
Labels: CLIENT 🖥

#271 [Fix/#262] 채팅 입력창 enter 오류
  server/src/api/Translation/translation.ts
Labels: BUG 🐞, SERVER 🖥

#272 [Feature/#252] iOS ChatDrawer panGesture 구조 개선
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewController.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
Labels: iOS 🍎

#289 [Feature/#280] iOS 동일한 언어 사용자와의 대화시 UI처리
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/MessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/ReceivedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/SentMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/TranslatedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
Labels: iOS 🍎

#282 [Feature/#275] 채팅을 새로 작성하는 경우, 본인이 쓴 채팅이 오른쪽에 위치하도록 수정
  client/src/components/ChatLog/Balloon.tsx
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/index.tsx
  client/src/components/Modal/index.tsx
  client/src/hooks/useMessages.ts
  client/src/routes/Home.tsx
  client/src/routes/Room.tsx
Labels: CLIENT 🖥, REFACTOR ⛏

#292 [Feature/#277] Message pagination 적용하기
  client/src/components/ChatLog/index.tsx
  client/src/components/Room/Header/style.ts
  client/src/components/Room/Input/style.ts
  client/src/hooks/useMessages.ts
  client/src/routes/Room.tsx
  client/src/styles/GlobalStyles.ts
Labels: CLIENT 🖥

#287 [Feature/#283] All messages by id API 번역 추가하기
  server/src/api/Message/allMessagesById/allMessagesById.ts
Labels: SERVER 🖥

#288 [Feature/#284] All message by time 번역 추가하기
  server/src/api/Message/allMessagesByTime/allMessagesByTime.ts
Labels: SERVER 🖥

#295 [Test/#294] ChatDrawerReactor TestCode 작성
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalkTests/ChatDrawerReactorTests.swift
Labels: TEST 📌, iOS 🍎

#297 [Test/#274] iOS Chat Scene UnitTest 작성
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParseProviding.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParser.swift
  iOS/PapagoTalk/PapagoTalkTests/ChatReactorTests.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/ApolloNetworkServiceMockFailure.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/ApolloNetworkServiceMockSuccess.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/MessageParserMock.swift
  iOS/PapagoTalk/PapagoTalkTests/PapagoTalkTests.swift
  iOS/PapagoTalk/Podfile.lock
Labels: TEST 📌, iOS 🍎

#296 [Feature/#278] 채팅화면 음성인식 버튼 오류 수정
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
Labels: iOS 🍎

#301 [Test/#298] iOS ChatCodeInput Scene UnitTest 작성
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Speech/SpeechViewReactor.swift
  iOS/PapagoTalk/PapagoTalkTests/ChatCodeInputReactorTests.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/ApolloNetworkServiceMockFailure.swift
Labels: TEST 📌, iOS 🍎

#302 [Feature/#281] iOS 채팅화면 음성인식 버튼 크기 조정 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/MicButtonSize.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/UserDefaultType.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Entity/UserDataProvider.swift
  iOS/PapagoTalk/PapagoTalk/Entity/UserDataProviding.swift
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Main.strings
  iOS/PapagoTalk/Podfile.lock
Labels: iOS 🍎

#299 [Feature/#276] 채팅방에 사용자가 입장하거나 퇴장할 시 alert창으로 띄워주기
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/index.tsx
  client/src/hooks/useUsers.ts
  client/src/routes/Room.tsx
Labels: CLIENT 🖥

#300 [Feature/#266] Implement client voice chat
  client/package.json
  client/src/components/Listening.tsx
  client/src/components/Room/Input/index.tsx
  client/src/components/Room/Input/style.ts
  client/src/hooks/useMessages.ts
  client/src/queries/messege.queries.ts
  client/src/routes/Room.tsx
  client/webpack.config.js
  client/yarn.lock
Labels: CLIENT 🖥

#325 [Feature/#315] iOS message timeStamp 저장 방식 수정
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/ReceivedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/SentMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/TranslatedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
Labels: iOS 🍎

#324 [Feature/#311] iOS 채팅화면 유저 입장 및 퇴장 메시지 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/SystemMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Strings.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/MessageType.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/Entity/UserDataProvider.swift
  iOS/PapagoTalk/PapagoTalk/Entity/UserDataProviding.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/API.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/CreateRoom.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/EnterRoom.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/GetMessageByTime.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/LeaveRoom.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/LeavedUser.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/NewUser.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/SendMessage.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/Translation.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/schema.json
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Network/ApolloNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkIntercepterProvider.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkServiceProviding.swift
  iOS/PapagoTalk/PapagoTalk/Network/PapagoAPIManager.swift
  iOS/PapagoTalk/PapagoTalk/Network/TokenAddingIntercepter.swift
  iOS/PapagoTalk/PapagoTalk/Network/URLSessionNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/Speech/SpeechViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/en.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalkTests/Mock/ApolloNetworkServiceMockFailure.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/ApolloNetworkServiceMockSuccess.swift
Labels: iOS 🍎

#313 [Feature/#312] 서버 언어 감지 기능 구현에 따른 iOS 메시지 수신 로직 변경
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
Labels: iOS 🍎

#332 [Feature/#112] iOS 모든 CollectionView RxDataSource 적용
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageDataSource.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageSection.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewController.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/UserDataSource.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/UserSection.swift
Labels: iOS 🍎

#333 [Feature#331] : iOS ImageAsset 오류 수정
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/PapagoImageBlue-1.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/PapagoImageBlue-2.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageBlue.imageset/PapagoImageBlue.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/PapagoImageYellow-1.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/PapagoImageYellow-2.png
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/PapagoImageYellow.imageset/PapagoImageYellow.png
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Common/Factory/ImageFactory.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/LaunchScreen/LaunchScreenViewController.swift
Labels: iOS 🍎

#303 [Refactor/#285] Server code refactoring based on reviewers comment
  server/src/api/Message/createMessage/createMessage.ts
  server/src/api/Message/newMessage/newMessage.ts
  server/src/api/Room/enterRoom/enterRoom.ts
  server/src/api/User/deleteUser/deleteUser.ts
  server/src/api/User/newUser/newUser.ts
  server/src/utils/trigger.ts
Labels: REFACTOR ⛏, SERVER 🖥

#310 [Fix/#309] apollo react hooks의 caching problem 해결
  client/src/components/Room/Header/index.tsx
Labels: BUG 🐞, CLIENT 🖥

#318 [Feature/#314] User schema 변경 및 deleteUser API 수정
  server/prisma/schema.prisma
  server/src/api/User/deleteUser/deleteUser.ts
  server/src/api/models.graphql
Labels: SERVER 🖥

#319 [Feature/#316] Client의 deleteUser API 변경 대응
  client/graphql.schema.json
  client/src/generated/types.ts
  client/src/queries/room.queires.ts
  client/src/routes/Room.tsx
Labels: CLIENT 🖥

#321 [Feature/#305] 언어 감지 API를 이용한 언어코드를 리턴하는 유틸 함수 추가.
  server/.env.template
  server/src/utils/dect.ts
  server/src/utils/request.ts
Labels: SERVER 🖥

#322 [Feature/#320] 번역된 메시지를 리턴하는 함수와 & 2nd Language를 리턴하는 함수 추가
  server/src/utils/getSecondLang.ts
  server/src/utils/translateText.ts
Labels: SERVER 🖥

#326 [Feature/#308] 채팅 작성 시 언어 감지를 이용한 채팅의 언어 코드를 설정
  server/src/api/Message/createMessage/createMessage.ts
Labels: SERVER 🖥

#328 [Refactor/#327] 변경된 번역 방식을 적용하여 client와 server의 코드 리펙토링
  client/src/components/Room/Input/index.tsx
  client/src/queries/messege.queries.ts
  server/src/api/Message/allMessagesByPage/allMessagesByPage.ts
  server/src/api/Message/allMessagesByTime/allMessagesByTime.ts
  server/src/api/Message/newMessage/newMessage.ts
  server/src/api/Translation/translation.graphql
  server/src/api/Translation/translation.ts
Labels: CLIENT 🖥, REFACTOR ⛏, SERVER 🖥

#329 [Bug/#317] 음성 인식 시 실시간으로 번역이 안되는 버그 수정
  client/src/components/Room/Input/index.tsx
Labels: BUG 🐞, CLIENT 🖥

#323 [Feature/#306] 채팅방 유저 입퇴장 시 fake newMessage 넣기
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/index.tsx
  client/src/hooks/useMessages.ts
  client/src/hooks/useUsers.ts
  client/src/routes/Room.tsx
  server/src/api/Message/allMessagesByPage/allMessagesByPage.ts
  server/src/api/Message/newMessage/newMessage.ts
  server/src/api/Room/createRoom/createRoom.ts
  server/src/api/Room/enterRoom/enterRoom.ts
  server/src/api/User/deleteUser/deleteUser.ts
Labels: CLIENT 🖥, SERVER 🖥

#330 [Feature/#307] 채팅방 Header에 코드 복사 alert창을 팝업으로 변경
  client/src/components/Room/Header/index.tsx
  client/src/components/Room/Header/style.ts
  client/src/components/Room/SideBar/index.tsx
  client/src/components/UserProfile/index.tsx
Labels: CLIENT 🖥, STYLE ✨

#335 [Feature/#334] iOS ChatDrawer 유저목록 사용자의 Cell 표시 작업
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/View/ChatDrawerUserCell.swift
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Strings.swift
  iOS/PapagoTalk/PapagoTalk/DataLayer/UserDataProvider.swift
  iOS/PapagoTalk/PapagoTalk/DataLayer/UserDataProviding.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
  iOS/PapagoTalk/PapagoTalk/en.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Localizable.strings
Labels: iOS 🍎

#338 [Refactor/#336] iOS User GraphQL Data typealias & queryData type init 적용
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
Labels: iOS 🍎

#340 [Refactor/#339] iOS Message GraphQLData typealias & init 적용
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
Labels: iOS 🍎

#342 [Bug/#337] 작성자가 다른 언어를 사용했을 때 번역 버그 Issue
  client/src/hooks/useMessages.ts
  client/src/queries/messege.queries.ts
  client/src/routes/Room.tsx
  server/src/api/Message/allMessagesByPage/allMessagesByPage.ts
  server/src/api/Message/allMessagesByTime/allMessagesByTime.ts
  server/src/api/Message/newMessage/newMessage.graphql
  server/src/api/Message/newMessage/newMessage.ts
  server/src/api/Translation/translation.ts
  server/src/utils/translateText.ts
Labels: BUG 🐞, REFACTOR ⛏, SERVER 🖥

#347 [Feature/#344] iOS 서버 Schema 변경에 의한 변경사항 적용
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/API.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/GetMessage.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/Translation.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/schema.json
  iOS/PapagoTalk/PapagoTalk/Network/ApolloNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkServiceProviding.swift
Labels: iOS 🍎

#345 [Test/#341] iOS Test를 위한 Mock객체 변경사항 적용
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk.xcodeproj/xcshareddata/xcschemes/PapagoTalkTests.xcscheme
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/MicButtonSize.swift
  iOS/PapagoTalk/PapagoTalkTests/ChatReactorTests.swift
  iOS/PapagoTalk/PapagoTalkTests/HomeReactorTests.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/ApolloNetworkServiceMockFailure.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/ApolloNetworkServiceMockSuccess.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/MessageParserMock.swift
  iOS/PapagoTalk/PapagoTalkTests/Mock/UserDataProviderMock.swift
Labels: TEST 📌, iOS 🍎

#349 [Fix/#348] : 채팅화면 음성인식 버튼 오류 수정
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
Labels: iOS 🍎

#353 [Feature/#346] iOS 내가 보낸 메시지 및 번역 메시지 Cell 분리
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/UserTranslatedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/MessageType.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
Labels: iOS 🍎

#351 [Fix/#350] : 음성인식 버튼을 연속해서 눌렀을때 오류 수정
  iOS/PapagoTalk/PapagoTalk/Speech/SpeechManager.swift
Labels: iOS 🍎

#354 [Bug/#352] 번역이 잘못되서 날아오는 Issue
  server/src/api/Translation/translation.ts
  server/src/utils/translateText.ts
Labels: BUG 🐞, SERVER 🖥

#368 [Feature/#357] : 홈 화면 버튼들 다크모드 지원 색상으로 변경
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/DarkGreen.colorset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
Labels: iOS 🍎

#366 [Feature/#360] iOS 새로운 채팅방 입장 전 이전 채팅방에서 나가기 기능 구현
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
Labels: iOS 🍎

#369 [Feature/#362] iOS SpeechManager 생성 시점 변경
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/SceneDelegate.swift
Labels: iOS 🍎

#372 [Feature/#363] iOS 파파고API 직접 번역에서 서버 중계 번역으로 변경
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Network/ApolloNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkServiceProviding.swift
  iOS/PapagoTalk/PapagoTalk/SceneDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Speech/SpeechViewReactor.swift
Labels: iOS 🍎

#376 [Feature/#357] : 채팅화면 음성인식버튼 애니메이션 안정화
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController+SpeechViewDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
  iOS/PapagoTalk/PapagoTalk/Speech/SpeechViewController.swift
Labels: iOS 🍎

#371 [Refactor/#365] Translate util function refactoring
  server/src/utils/request.ts
  server/src/utils/translateText.ts
Labels: REFACTOR ⛏, SERVER 🖥

#377 [Feature/#375] 대화방 sidebar animation 추가하기
  client/src/components/Room/Header/index.tsx
  client/src/components/Room/Header/style.ts
  client/src/components/Room/SideBar/index.tsx
  client/src/components/Room/SideBar/style.ts
  client/src/styles/Styled.d.ts
  client/src/styles/Theme.ts
Labels: CLIENT 🖥, STYLE ✨

#374 [Refactor/#370] Client chat log component refactoring
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/index.tsx
Labels: CLIENT 🖥, REFACTOR ⛏

#379 [Feature/#378] Room 화면 dark mode 수정하기
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/Room/Header/style.ts
  client/src/components/Room/Input/style.ts
  client/src/styles/Styled.d.ts
  client/src/styles/Theme.ts
Labels: CLIENT 🖥, SERVER 🖥

#380 [Feature/#364] Subscription API에도 사용자 정보 사용을 위한 토큰 복호화 추가
  server/src/api/Message/createSystemMessage/createSystemMessage.graphql
  server/src/api/Message/createSystemMessage/createSystemMessage.ts
  server/src/api/Message/newMessage/newMessage.graphql
  server/src/api/Message/newMessage/newMessage.ts
  server/src/api/Room/createRoom/createRoom.ts
  server/src/api/Room/enterRoom/enterRoom.ts
  server/src/api/User/deleteUser/deleteUser.graphql
  server/src/api/User/deleteUser/deleteUser.ts
  server/src/api/User/newUser/newUser.graphql
  server/src/api/User/newUser/newUser.ts
  server/src/server.ts
Labels: SERVER 🖥

#382 [Feature/#381] Subscription API 변경에 대한 Client 대응
  client/src/apollo/Client.ts
  client/src/components/Modal/index.tsx
  client/src/components/Room/Header/index.tsx
  client/src/hooks/useMessages.ts
  client/src/hooks/useUsers.ts
  client/src/queries/messege.queries.ts
  client/src/queries/user.queries.ts
  client/src/routes/Home.tsx
Labels: CLIENT 🖥

#383 [Feature/#356] iOS 앱 suspend 상태에서 돌아오면 못 받은 메시지 받기 기능 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParseProviding.swift
  iOS/PapagoTalk/PapagoTalk/Chat/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Date+.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Messageable.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Userable.swift
  iOS/PapagoTalk/PapagoTalk/Network/ApolloNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkServiceProviding.swift
Labels: iOS 🍎

#384 [Feature/#358] iOS Subscription token인증방식 적용에 의한 변경사항 적용
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController+SpeechViewDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatCodeInput/ChatCodeInputViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Entity/ChatRoomInfo.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/API.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/GetMessage.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/LeavedUser.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/NewUser.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/SendSystemMessage.graphql
  iOS/PapagoTalk/PapagoTalk/GraphQL/schema.json
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Network/ApolloNetworkService.swift
  iOS/PapagoTalk/PapagoTalk/Network/ChatWebSocket.swift
  iOS/PapagoTalk/PapagoTalk/Network/NetworkServiceProviding.swift
Labels: iOS 🍎

#385 [Fix] iOS 머지이후 버그 수정
  iOS/PapagoTalk/PapagoTalk/Chat/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
Labels: BUG 🐞, iOS 🍎

#387 [Feat] : 서버 유저 나가기 처리 변경에 대한 대응
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/API.swift
  iOS/PapagoTalk/PapagoTalk/GraphQL/FindRoomByID.graphql
  iOS/PapagoTalk/PapagoTalk/Info.plist
Labels: iOS 🍎

#388 [Feature/#361] iOS 셀높이 계산 로직 추가
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatCollectionView.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageDataSource.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageHeightCalculator.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageParseProviding.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageSection.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageSizeDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/MessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/MessageText.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/ReceivedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Constant.swift
  iOS/PapagoTalk/PapagoTalk/Common/Util/KeyboardProviding.swift
Labels: iOS 🍎

#394 [Fix] 머지 이후 파일경로 이슈 수정
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk.xcodeproj/xcshareddata/xcschemes/PapagoTalk.xcscheme
Labels: iOS 🍎

#396 [Feature/#392] iOS 대화방 접속 히스토리 화면 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Notification+.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/HomeCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/HomeCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/DataLayer/HistoryManager.swift
  iOS/PapagoTalk/PapagoTalk/DataLayer/HistoryServiceProviding.swift
  iOS/PapagoTalk/PapagoTalk/DataLayer/PersistenceManager.swift
  iOS/PapagoTalk/PapagoTalk/Entity/ChatRoomHistory.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
  iOS/PapagoTalk/PapagoTalk/History/HistoryCell.swift
  iOS/PapagoTalk/PapagoTalk/History/HistoryDatasource.swift
  iOS/PapagoTalk/PapagoTalk/History/HistorySection.swift
  iOS/PapagoTalk/PapagoTalk/History/HistoryViewController.swift
  iOS/PapagoTalk/PapagoTalk/History/HistoryViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/HistoryModel.xcdatamodeld/HistoryModel.xcdatamodel/contents
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Network/APIEndPoint.swift
  iOS/PapagoTalk/PapagoTalk/Network/ChatWebSocket.swift
  iOS/PapagoTalk/PapagoTalk/Network/WebsocketServiceProviding.swift
  iOS/PapagoTalk/PapagoTalk/SceneDelegate.swift
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Main.strings
Labels: iOS 🍎

#399 [Feature/#398] 배포와 관련된 서버/클라이언트 대응
  client/.env.template
  client/src/apollo/Client.ts
  server/src/server.ts
Labels: CLIENT 🖥, RELEASE 🎁, SERVER 🖥

#400 [Feature/#359] iOS 설정화면 구현
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageParser.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MicrophoneButton.swift
  iOS/PapagoTalk/PapagoTalk/ChatDrawer/ChatDrawerViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/MicButtonSize.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/UserDefaultType.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/HomeCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/HomeCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinating.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/MainCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/DataLayer/UserDataProvider.swift
  iOS/PapagoTalk/PapagoTalk/DataLayer/UserDataProviding.swift
  iOS/PapagoTalk/PapagoTalk/Entity/Message.swift
  iOS/PapagoTalk/PapagoTalk/Entity/MessageData.swift
  iOS/PapagoTalk/PapagoTalk/Entity/User.swift
  iOS/PapagoTalk/PapagoTalk/Entity/UserData.swift
  iOS/PapagoTalk/PapagoTalk/Home/HomeViewController.swift
  iOS/PapagoTalk/PapagoTalk/Network/APIEndPoint.swift
  iOS/PapagoTalk/PapagoTalk/Setting/SettingViewController.swift
  iOS/PapagoTalk/PapagoTalk/Setting/SettingViewReactor.swift
  iOS/PapagoTalk/PapagoTalk/en.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Main.strings
Labels: iOS 🍎

#402 [Feature#401] SpeechView Delegate -> Notification 대체
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController+SpeechViewDelegate.swift
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Notification+.swift
  iOS/PapagoTalk/PapagoTalk/Coordinator/ChatCoordinator.swift
  iOS/PapagoTalk/PapagoTalk/Speech/SpeechViewController.swift
  iOS/PapagoTalk/PapagoTalk/Speech/SpeechViewDelegate.swift
Labels: iOS 🍎

#407 [Feature/#406] 설정화면 UI 수정
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Setting/SettingViewController.swift
Labels: iOS 🍎

#416 [Fix/#412] 키보드 에러 처리
  iOS/PapagoTalk/PapagoTalk/Assets.xcassets/MicButtonColor.colorset/Contents.json
  iOS/PapagoTalk/PapagoTalk/Chat/ChatViewController.swift
Labels: BUG 🐞, iOS 🍎

#417 [Feature/#413] iOS ChatHistory 날짜 표시 설정
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Common/Enum/TimeFormatType.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/Calendar+.swift
  iOS/PapagoTalk/PapagoTalk/Common/Extension/DateFormatter+.swift
  iOS/PapagoTalk/PapagoTalk/History/HistoryCell.swift
  iOS/PapagoTalk/PapagoTalk/en.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Localizable.strings
Labels: iOS 🍎

#424 [Fix/#422] 셀 Height 계산 로직 수정 및 스크롤 안정화
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/ChatCollectionView.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageHeightCalculator.swift
Labels: BUG 🐞, iOS 🍎

#414 [Feature/#395] 채팅 메시지 반응형으로 수정
  client/src/components/ChatLog/Balloon.tsx
  client/src/components/ChatLog/ChatRow.tsx
  client/src/utils/formatTimezone.ts
Labels: CLIENT 🖥, STYLE ✨

#433 [Feature/#432] 채팅 메시지 UX/UI 수정
  client/src/components/Avatar.tsx
  client/src/components/ChatLog/AvatarText.tsx
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/TimeText.tsx
  client/src/components/ChatLog/index.tsx
  client/src/utils/comparePrevMessage.ts
  client/src/utils/formatTimezone.ts
Labels: CLIENT 🖥, STYLE ✨

#435 [Feature/#395] Merge된 feature branch web branch로 merging
  client/src/components/Avatar.tsx
  client/src/components/ChatLog/AvatarText.tsx
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/TimeText.tsx
  client/src/components/ChatLog/index.tsx
  client/src/utils/comparePrevMessage.ts
  client/src/utils/formatTimezone.ts
Labels: CLIENT 🖥, STYLE ✨

#420 [Feature/#415] 채팅 입력창 반응형 & 입력값 길이 제한 추가
  client/package.json
  client/src/components/Room/Input/Badge.tsx
  client/src/components/Room/Input/index.tsx
  client/src/components/Room/Input/style.ts
  client/src/styles/GlobalStyles.ts
  client/yarn.lock
Labels: CLIENT 🖥, STYLE ✨

#429 [Feature/#426] Loading 화면 때 보여 줄 Loader 추가하기
  client/src/components/Loader.tsx
  client/src/routes/Room.tsx
Labels: CLIENT 🖥, STYLE ✨

#418 [Feature/#404] 닉네임 입력에 대한 예외처리
  client/src/components/Button.tsx
  client/src/components/UserProfile/index.tsx
  client/src/components/UserProfile/style.ts
  client/src/constants/localization.ts
  client/src/routes/Home.tsx
Labels: CLIENT 🖥, STYLE ✨

#421 [Feature/#405] 커스텀 스크롤바 제작
  client/src/components/Room/SideBar/style.ts
  client/src/routes/Home.tsx
  client/src/styles/GlobalStyles.ts
Labels: CLIENT 🖥, STYLE ✨

#425 [Feature/#403] 방 코드 반응형 적용 및 코드 입력 시 숫자 이외의 값을 제한
  client/src/components/Modal/Input.tsx
  client/src/components/Modal/index.tsx
  client/src/constants/localization.ts
Labels: CLIENT 🖥, STYLE ✨

#431 [Feature/#430] URL에 드러나는 room id의 암호화
  client/package.json
  client/src/components/ChatLog/ChatRow.tsx
  client/src/components/ChatLog/index.tsx
  client/src/components/Modal/index.tsx
  client/src/routes/Home.tsx
  client/src/routes/Room.tsx
  client/src/routes/index.tsx
  client/src/utils/encryption.ts
  client/webpack.config.js
  client/yarn.lock
Labels: CLIENT 🖥

#423 [Feature/#408] 채팅방 헤더 반응형, 사이드바 ui 수정
  client/src/App.tsx
  client/src/components/Room/Header/index.tsx
  client/src/components/Room/Header/style.ts
  client/src/components/Room/SideBar/index.tsx
  client/src/components/Room/SideBar/style.ts
  client/src/styles/Styled.d.ts
  client/src/styles/Theme.ts
Labels: CLIENT 🖥, STYLE ✨

#434 [Feature/#409] 홈화면 반응형, 언어선택 확장
  client/src/components/UserProfile/index.tsx
  client/src/components/UserProfile/style.ts
  client/src/constants/language.ts
  client/src/contexts/LocalizationContext.tsx
  client/src/routes/Home.tsx
  client/src/utils/formatTimezone.ts
Labels: CLIENT 🖥, STYLE ✨

#439 [Feature/#438] 메세지 셀 TextView UILabel로 대체
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageHeightCalculator.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/MessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/MessageText.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/ReceivedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/SentMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/TranslatedMessageCell.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/UserTranslatedMessageCell.swift
Labels: iOS 🍎

#440 [Bug/#411] 채팅방 재입장 시 채팅 리스트가 안뜨는 문제 수정
  client/src/apollo/Client.ts
  client/src/components/Room/Header/index.tsx
Labels: BUG 🐞, CLIENT 🖥

#441 [Feat] Merge 과정에서 발생한 문제 해결
  client/src/components/Button.tsx
  client/src/constants/localization.ts
Labels: BUG 🐞, CLIENT 🖥, REFACTOR ⛏

#443 [Feature/#442] 일본어 Localization 적용
  iOS/PapagoTalk/PapagoTalk.xcodeproj/project.pbxproj
  iOS/PapagoTalk/PapagoTalk/Common/Constant/Strings.swift
  iOS/PapagoTalk/PapagoTalk/Common/Enum/Language.swift
  iOS/PapagoTalk/PapagoTalk/en.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ja.lproj/LaunchScreen.strings
  iOS/PapagoTalk/PapagoTalk/ja.lproj/Localizable.strings
  iOS/PapagoTalk/PapagoTalk/ja.lproj/Main.strings
  iOS/PapagoTalk/PapagoTalk/ko.lproj/Localizable.strings
Labels: iOS 🍎

#444 [Fix/#437] iOS system message 날짜 안뜨는 로직 수정
  iOS/PapagoTalk/PapagoTalk/Base.lproj/Main.storyboard
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageBox.swift
  iOS/PapagoTalk/PapagoTalk/Chat/Model/MessageHeightCalculator.swift
  iOS/PapagoTalk/PapagoTalk/Chat/View/MessageCell/SystemMessageCell.swift
Labels: BUG 🐞, iOS 🍎

#454 [Feature/#445] Server Error Handling
  server/src/api/Room/createRoom/createRoom.ts
  server/src/api/Room/enterRoom/enterRoom.ts
Labels: SERVER 🖥
